/*Signed Up block*/
/*FORMS CSS VARS*/
.fair-prv-white-block {
  position: relative;
  display: block;
  margin: 0px auto;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 40px 20px;
  margin-bottom: 20px;
}
.fair-reg-title {
  color: #454D66;
  font-size: 28px;
  font-family: 'basier_circlesemibold';
  padding-bottom: 20px;
}
.fa-reg-flex-top {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #EAEAEA;
}
.fa-reg-text-left {
  display: block;
  width: max-content;
  max-width: 100%;
  position: relative;
}
.fa-reg-text-right {
  display: block;
  width: max-content;
  max-width: 100%;
  position: relative;
}
.fa-reg-text-right img {
  position: relative;
}
.fa-reg-date-time {
  color: #454D66;
  font-family: 'basier_circleregular';
  font-size: 16px;
}
.flex-icon-fa-reg-svg-container {
  display: flex;
  width: max-content;
  font-family: 'basier_circleregular';
  font-size: 16px;
  line-height: 24px;
  padding-top: 20px;
}
.fa-reg-svg-top {
  margin-right: 12px;
}
.fa-reg-description {
  color: #A2A6B3;
  font-size: 16px;
  font-family: 'basier_circleregular';
  padding-top: 32px;
  padding-bottom: 32px;
}
.flex-fa-reg-images-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  height: max-content;
}
.fa-reg-image-block-main {
  display: block;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.fa-reg-image-body {
  padding-bottom: 65%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  position: relative;
}
.mb-fa-reg-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  color: white;
  font-family: 'basier_circlesemibold';
  font-size: 22px;
}
.pc-only-fa-reg-ing {
  display: none;
}
.fa-reg-more-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #58B368;
  cursor: pointer;
}
.fa-reg-more-overlay p {
  display: block;
  font-size: 16px;
  font-family: 'basier_circlesemibold';
  color: #58B368;
}
.fa-reg-more-overlay:hover {
  border-color: #454D66;
}
.fa-reg-more-overlay:hover p {
  color: #454D66;
}
.fa-reg-header-two {
  color: #454D66;
  font-size: 18px;
  font-family: 'basier_circlesemibold';
}
.bottom-line-pacj-fa-reg {
  padding-bottom: 24px;
  border-bottom: 1px solid #EAEAEA;
}
.flex-contact-fa-reg-info {
  display: flex;
  width: max-content;
  max-width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding-top: 32px;
}
.flex-contact-fa-reg-info .flex-icon-fa-reg-svg {
  display: flex;
  width: max-content;
  flex-wrap: nowrap;
  padding-right: 15px;
  margin-right: 20px;
  line-height: 24px;
  color: #454D66;
  font-family: 'basier_circleregular';
  margin-bottom: 15px;
}
.flex-contact-fa-reg-info .flex-icon-fa-reg-svg .svg-fa-fa-reg-sf {
  margin-right: 8px;
}
.fa-reg-info-comp-flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 32px;
}
.fa-reg-info-comp-flex p {
  color: #454D66;
  font-family: 'basier_circleregular';
  font-size: 16px;
  padding-bottom: 20px;
}
.left-side-fa-reg-comp {
  display: block;
  width: max-content;
  box-sizing: border-box;
  padding-right: 100px;
}
.fa-reg-register-btn {
  background-color: #58B368;
  font-family: 'basier_circlesemibold';
  font-size: 16px;
  color: white;
  border-radius: 32px;
  padding: 14px 62px;
  box-sizing: border-box;
  width: max-content;
  margin-top: 54px;
  cursor: pointer;
}
.fa-reg-register-btn:hover {
  background-color: #454D66;
}
.register-view-fa-reg-cont-form {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 24px;
}
.awaiting-to-beremoved {
  display: block;
  width: max-content;
  color: #FFB74B;
  font-family: 'basier_circlesemibold';
  font-size: 16px;
  padding: 7px 24px;
  box-sizing: border-box;
  /* Brand/Light Green */
  background: #FDF7ED;
  border-radius: 8px;
}
.flex-awaiting {
  display: flex;
  width: max-content;
}
.view-right-await-pad {
  padding-left: 20px;
}
.tex-aw-reg-line-indo {
  color: #A2A6B3;
  font-size: 16px;
  font-family: 'basier_circleregular';
  padding-top: 32px;
}
.tex-aw-reg-line-indo span {
  color: #454D66;
}
/*PICK A SCHEDULE*/
/*=============================*/
.pick-a-schedule-flex {
  display: flex;
  width: max-content;
  flex-wrap: nowrap;
  color: #FF6353;
  margin-top: 6px;
}
.pick-a-schedule-flex div {
  color: inherit;
  font-size: 16px;
  font-family: 'basier_circlesemibold';
  line-height: 24px;
}
.pick-a-schedule-flex .svgs-f-i {
  margin-right: 12px;
}
.no-bot-fa-reg-cl {
  padding-bottom: 0px !important;
}
.fei-reg-header-un-bordered {
  padding-top: 45px;
  padding-bottom: 12px;
  color: #454D66;
  font-size: 22px;
  font-family: 'basier_circlesemibold';
}
.fei-reg-header-desctiption {
  color: #A2A6B3;
  font-size: 16px;
  font-family: 'basier_circleregular';
  padding-bottom: 32px;
}
.fa-reg-text-pad-bot {
  padding-bottom: 32px;
}
.spe-fair-pad-one {
  padding-bottom: 24px;
}
.aw-reg-ful-btn-container {
  display: flex;
  width: max-content;
  max-width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-top: 40px;
}
.full-aw-reg-btn {
  display: block;
  background-color: #58B368;
  font-size: 16px;
  color: white;
  border-radius: 32px;
  font-family: 'basier_circlesemibold';
  padding: 14px 41px;
  box-sizing: border-box;
  width: max-content;
  max-width: 100%;
  margin-right: 30px;
}
.ev-full-aw-reg-bn {
  display: flex;
  align-items: center;
}
/*EVENT FULL*/
/*=============================*/
.fair-event-full-flex {
  display: flex;
  width: max-content;
  flex-wrap: nowrap;
  color: #A2A6B3;
}
.fair-event-full-flex div {
  color: inherit;
  font-size: 16px;
  font-family: 'basier_circlesemibold';
  line-height: 24px;
}
.fair-event-full-flex .svgs-f-i-event {
  margin-left: 12px;
}
.registered-btn-fair {
  display: block;
  width: max-content;
  color: #58B368;
  font-family: 'basier_circlesemibold';
  font-size: 16px;
  padding: 7px 24px;
  box-sizing: border-box;
  /* Brand/Light Green */
  background: #DEF0E1;
  border-radius: 8px;
}
.register-fair-btn {
  color: #58B368;
  font-size: 16px;
  font-family: 'basier_circlesemibold';
  padding: 14px 36px;
  box-sizing: border-box;
  border: 1px solid #58B368;
  border-radius: 32px;
  cursor: pointer;
  width: max-content;
}
.register-fair-btn:hover {
  color: #454D66;
  border-color: #454D66;
}
.flex-container-buttons-moal-resp div {
  width: 100%;
}
.do-it-later-remider-aw-ger {
  display: block;
  width: 100%;
  color: #58B368;
  text-decoration: underline;
  font-size: 16px;
  font-family: 'basier_circlesemibold';
  height: 48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 25px;
}
.do-it-later-remider-aw-ger:hover {
  color: #454D66;
}
@media (min-width: 678px) {
  .fair-prv-white-block {
    padding: 40px 30px;
  }
  .mb-fa-reg-overlay {
    display: none;
  }
  .pc-only-fa-reg-ing {
    display: block;
  }
  .fa-reg-image-block-main {
    width: 24%;
  }
  .flex-contact-fa-reg-info .flex-icon-fa-reg-svg {
    margin-bottom: 0px;
  }
  .register-view-fa-reg-cont-form {
    width: 60%;
  }
  .flex-container-buttons-moal-resp div {
    width: max-content;
  }
  .do-it-later-remider-aw-ger {
    width: max-content;
    margin-bottom: 0px;
    margin-right: 48px;
  }
}
