/*Signed Up block*/
/*FORMS CSS VARS*/
.marin-specific-ntf {
  margin-top: 32px;
}
.big-content-forms-container {
  width: 100% !important;
}
.down-ft-barg {
  margin-bottom: 20px;
}
.mrg-mnt-fix-bot {
  margin-bottom: 0px !important;
}
.no-top-pad {
  padding-top: 0px !important;
}
.ntg-height-pad-bot {
  height: max-content !important;
  padding: 0px 0px 20px  0px!important;
}
.view-smftn-header {
  font-size: 18px;
  color: #454D66;
  font-family: 'basier_circlesemibold';
  margin-bottom: 27px;
}
.top-ntf-skd {
  margin-top: 15px;
}
.no-dfdd-pad-mm {
  padding-top: 0px !important;
}
.marg-sunb-btn-top {
  padding-top: 40px;
}
.radio-flex-list {
  max-width: 100%;
  flex-wrap: wrap !important;
}
.left-side-radio-child {
  margin-bottom: 10px;
}
@media (min-width: 678px) {
  .radio-flex-list {
    flex-wrap: nowrap !important;
  }
  .left-side-radio-child {
    margin-bottom: 0px;
  }
  .main-width-container-view {
    width: 100% !important;
  }
}
