/*Signed Up block*/
/*FORMS CSS VARS*/
.filnal-header-m-qwer {
  display: block;
  width: 100%;
  color: #454D66;
  font-size: 22px;
  font-family: 'basier_circlebold';
  padding: 40px 0px 16px 0px;
  text-align: center;
  line-height: 38px;
}
.final-label-qwer {
  display: block;
  width: max-content;
  background-color: #454D66;
  font-family: 'basier_circleregular';
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 4px 12px;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  margin: 0px auto;
  border-radius: 4px;
}
.final-flex-meet-icon {
  display: flex;
  margin: 24px auto 40px auto;
  width: max-content;
  flex-wrap: nowrap;
  position: relative;
  line-height: 24px;
  color: #454D66;
  font-family: 'basier_circleregular';
  font-size: 16px;
}
.final-image-svg-qwer {
  margin-right: 15px;
}
.final-confirm-qwer {
  display: block;
  margin: 0px auto;
  background-color: #58B368;
  font-size: 16px;
  color: white;
  font-family: 'basier_circlesemibold';
  text-align: center;
  padding: 14px 99px;
  box-sizing: border-box;
  position: relative;
  width: max-content;
  max-width: 100%;
  border-radius: 32px;
  cursor: pointer;
}
.final-confirm-qwer:hover {
  background-color: #454D66;
}
.decline-final-qwer {
  display: block;
  margin: 24px auto 0px auto;
  width: max-content;
  font-size: 16px;
  font-family: 'basier_circlesemibold';
  text-decoration: underline;
  color: #FF6353;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.decline-final-qwer:hover {
  letter-spacing: 1.5px;
}
