/*Signed Up block*/
/*FORMS CSS VARS*/
.top-jbs-side-back-image {
  display: block;
  width: 100%;
  height: 200px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-jbs-search-container {
  display: flex;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  background-color: white;
  box-sizing: border-box !important;
}
.jobs-foun-amoun {
  color: #454D66 !important;
  font-size: 28px !important;
  font-family: 'basier_circlesemibold' !important;
}
.jobs-foun-amoun span {
  font-family: 'basier_circleregular' !important;
  font-size: 18px;
}
.line-betwen-filer-q-resutls {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #EAEAEA;
  margin-top: 32px;
}
.sort-by-appl-container select {
  background-position-y: 9px !important;
}
.flex-applications-filter-container {
  padding: 0px !important;
}
.no-bottom-padding {
  padding-bottom: 0px !important;
}
.mo-marg-top-jobs {
  margin-top: 0px !important;
}
.to-top-job-pad-qwe {
  padding-top: 0px !important;
}
.view-m-jbs-cmp-sd {
  padding-top: 32px;
  font-family: 'basier_circlemedium';
  font-size: 16px;
  color: #454D66;
  text-decoration: underline;
}
.view-m-jbs-cmp-sd:hover {
  color: #58B368;
}
.search-jbs-flex-block {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 24px 0px 15px 15px;
  box-sizing: border-box;
}
.search-jbs-flex-block label {
  display: block;
  padding: 0px 16px;
}
.search-jbs-flex-block label svg {
  margin-top: 2px;
  cursor: pointer;
}
.search-jbs-flex-block label svg path {
  fill: #58B368;
}
.search-jbs-flex-block label svg:hover path {
  fill: #454D66;
}
.search-jbs-flex-block input {
  background-color: white;
  padding: 12px 20px 12px 0px;
  color: #454D66;
  font-family: 'basier_circleregular';
  font-size: 16px;
  border: none;
  width: 100%;
  box-sizing: border-box;
}
.search-jbs-flex-block input::placeholder {
  color: #C8C8C8;
}
.city-jbs-flex-block {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 24px 0px 15px 15px;
  box-sizing: border-box;
  width: 50%;
  padding-right: 30px;
  box-sizing: border-box !important;
}
.city-jbs-flex-block label {
  display: block;
  padding: 0px 16px;
}
.city-jbs-flex-block label svg {
  margin-top: 2px;
  cursor: pointer;
}
.city-jbs-flex-block select {
  background-color: white;
  color: #454D66;
  font-family: 'basier_circleregular';
  font-size: 16px;
  border: none;
}
.city-jbs-flex-block select::placeholder {
  color: #C8C8C8;
}
.filters-jbs-flex-block {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 24px 0px 15px 15px;
  padding-right: 60px;
  cursor: pointer;
  box-sizing: border-box;
}
.filters-jbs-flex-block label {
  display: block;
  padding: 0px 16px;
}
.filters-jbs-flex-block label svg {
  margin-top: 4px;
  cursor: pointer;
}
.filters-jbs-flex-block select {
  background-color: white;
  color: #454D66;
  font-family: 'basier_circleregular';
  font-size: 16px;
  border: none;
  box-sizing: border-box;
}
.filters-jbs-flex-block select::placeholder {
  color: #C8C8C8;
}
.jbs-search-btn-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #58B368;
  font-family: 'basier_circlebold';
  font-size: 18px;
  padding: 0px 77px;
  box-sizing: border-box !important;
  min-height: 40px;
  cursor: pointer;
}
.jbs-search-btn-main:hover {
  background-color: #454D66;
}
.flex-contant-page-jbs {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.left-page-jbsd-k {
  display: block;
  width: 100%;
  margin-bottom: 32px;
}
.right-page-jbsd-k {
  display: block;
  width: 100%;
}
.white-main-cnt-block {
  background-color: #ffffff;
  padding: 40px 15px;
  box-sizing: border-box;
  border-radius: 8px;
}
.jobs-container-content {
  display: block;
  position: relative;
  width: 100%;
  padding: 32px 15px;
  box-sizing: border-box;
}
.header-page-jobs {
  display: block;
  color: #454D66;
  font-size: 28px;
  font-family: 'basier_circlebold';
  padding-bottom: 24px;
}
.jobs-asd-cointainer-d {
  display: block;
  width: 100%;
}
.job-block-brd-jbs {
  display: block;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  padding: 32px 30px;
  box-sizing: border-box;
  margin-bottom: 12px;
}
.job-block-brd-jbs:last-child {
  margin-bottom: 0px;
}
.flex-jbs-header-job {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left-side-name-kjjbs {
  display: flex;
  width: max-content;
}
.right-side-name-kjjbs {
  display: block;
  width: max-content;
  margin: 12px 0px;
}
.jbs-m-name-asd {
  color: #454D66;
  font-size: 18px;
  font-family: 'basier_circlesemibold';
  margin-right: 20px;
}
.jbs-new-label {
  background-color: #58B368;
  border-radius: 4px;
  padding: 2px 20px;
  box-sizing: border-box;
  height: max-content;
  color: white;
  font-family: 'basier_circlemedium';
}
.right-side-name-kjjbs {
  display: block;
  width: max-content;
  cursor: pointer;
}
.flex-text-info-jbs-qwe {
  display: flex;
  width: max-content;
  max-width: 100%;
  flex-wrap: wrap;
  font-family: 'basier_circleregular';
  line-height: 24px;
  color: #454D66;
}
.frlx-icon-text-jbs {
  display: flex;
  line-height: 24px;
  color: #454D66;
  font-size: 16px;
  font-family: 'basier_circleregular';
}
.svg-jbs-text-blj {
  margin-right: 16px;
  color: #454D66;
}
.texted-mnbsdf {
  margin-right: 40px;
  color: #454D66;
}
.job-block-main-txt-description {
  display: block;
  padding-top: 16px;
  color: #A2A6B3;
  font-size: 16px;
  font-family: 'basier_circleregular';
}
.flex-rgt-block-header-block {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-rgt-mnbs {
  color: #454D66;
  font-size: 22px;
  font-family: 'basier_circlebold';
}
.flex-link-cvbc {
  display: flex;
}
.flex-link-cvbc div {
  line-height: 26px;
}
.flex-link-cvbc div svg {
  margin-left: 13px;
}
.flex-link-cvbc div svg path {
  stroke: #58B368;
}
.flex-link-cvbc:hover div {
  text-decoration: underline;
  color: #454D66 !important;
}
.flex-link-cvbc:hover div svg path {
  stroke: #454D66;
}
.view-more-jbs-rgt {
  color: #58B368;
  font-size: 16px;
  font-family: 'basier_circlemedium';
}
.info-job-ritgh-block {
  padding-top: 28px;
}
.info-job-ritgh-block .left-side-name-kjjbs {
  width: 100%;
  justify-content: space-between;
}
.text-be-in-description-rgt {
  color: #A2A6B3;
  font-family: 'basier_circleregular';
  font-size: 16px;
  padding-top: 6px;
}
.bot-me-bottom-marg-svb {
  margin-bottom: 20px !important;
}
.jbs-new-label-invited {
  background-color: #DEF0E1;
  border-radius: 4px;
  padding: 6px 20px;
  box-sizing: border-box;
  height: max-content;
  color: #58B368;
  font-family: 'basier_circlemedium';
}
.jbs-new-label-orange {
  background-color: #FDF7ED;
  border-radius: 4px;
  padding: 6px 20px;
  box-sizing: border-box;
  height: max-content;
  color: #FFB74B;
  font-family: 'basier_circlemedium';
}
.line-between-jobs-if-more {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #EAEAEA;
  margin-bottom: 10px;
}
.f-grt-addsf {
  padding: 15px 0px;
}
/*Filters*/
.flex-adv-filtr-th-lbv {
  display: flex;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
}
.flex-block-radio {
  display: flex;
  min-height: 52px;
  align-items: center;
}
.flex-block-radio .main-radio-header {
  margin-right: 24px;
  padding-bottom: 0px !important;
}
.label-top-input-block select {
  color: #454D66 !important;
}
.label-top-input-block select option {
  color: #454D66 !important;
}
.adv-ftl-block-onbs {
  display: block;
  width: 100%;
  margin-bottom: 24px;
}
.flex-apply-filter-container {
  display: flex;
  width: max-content;
  max-width: 100%;
  position: relative;
}
.apply-btn-fltr-jbs {
  display: block;
  background-color: #58B368;
  font-family: 'basier_circlesemibold';
  font-size: 16px;
  padding: 14px 24px;
  box-sizing: border-box;
  border-radius: 32px;
  color: white;
  cursor: pointer;
  margin-right: 40px;
}
.apply-btn-fltr-jbs:hover {
  background-color: #454D66;
}
.no-bot-make-bot-line-v {
  margin-top: 0px;
  padding: 20px 0px 0px 0px !important;
  border-bottom: none !important;
  border-top: 1px solid #EAEAEA;
}
.main-flex-flts-btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
  flex-wrap: wrap;
}
.cancel-btn-fltr-jbs {
  display: block;
  font-family: 'basier_circlesemibold';
  font-size: 16px;
  padding: 14px 0px;
  box-sizing: border-box;
  border-radius: 32px;
  color: #454D66;
  cursor: pointer;
  margin-right: 40px;
  text-decoration: underline;
}
.cancel-btn-fltr-jbs:hover {
  color: #FF6353;
}
.show-btn-fltr-jbs {
  display: block;
  font-family: 'basier_circlesemibold';
  font-size: 16px;
  padding: 14px 0px;
  box-sizing: border-box;
  border-radius: 32px;
  color: #58B368;
  cursor: pointer;
  margin-right: 40px;
  text-decoration: underline;
}
.show-btn-fltr-jbs:hover {
  color: #454D66;
}
@media (min-width: 678px) {
  .adv-ftl-block-onbs {
    width: 47.5%;
  }
  .no-bot-make-bot-line-v {
    margin-top: 56px;
  }
  .white-main-cnt-block {
    padding: 40px 30px;
  }
}
@media (min-width: 924px) {
  .filters-jbs-flex-block {
    border-right: 1px solid #EAEAEA;
    padding: 24px 0px 24px 40px;
  }
  .filters-jbs-flex-block label {
    padding: 0px 24px;
  }
  .city-jbs-flex-block {
    border-right: 1px solid #EAEAEA;
    padding: 24px 0px 24px 40px;
  }
  .city-jbs-flex-block label {
    padding: 0px 24px;
  }
  .main-jbs-search-container {
    flex-wrap: nowrap;
  }
  .jbs-search-btn-main {
    width: max-content;
  }
  .left-page-jbsd-k {
    width: 70%;
    margin-bottom: 0px;
  }
  .right-page-jbsd-k {
    width: 28%;
  }
  .right-side-name-kjjbs {
    margin: 0px 0px !important;
  }
  .search-jbs-flex-block {
    border-right: 1px solid #EAEAEA;
    padding: 24px 0px 24px 40px;
  }
  .jobs-container-content {
    padding: 32px 40px;
  }
  .adv-ftl-block-onbs {
    width: 30%;
    margin-bottom: 0px;
  }
}
