/*Landing page css code*/
.post-a-job-landing-container-one {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 0px 60px 0px;
}
.simple-landing-flex {
  display: flex;
  position: relative;
  height: max-content;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}
.first-lnd-child-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  order: 2;
}
.second-lnd-child-block {
  position: relative;
  display: block;
  width: 100%;
  order: 1;
}
.second-lnd-child-block img {
  width: 100%;
  position: relative;
}
.middle-lnd-block .first-lnd-child-block {
  order: 2;
}
.middle-lnd-block .second-lnd-child-block {
  order: 1;
}
.main-header-lnd {
  display: block;
  font-size: 32px;
  color: #454D66;
  font-family: 'basier_circlebold';
  padding-bottom: 32px;
}
.lnd-flex-data {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 15px;
}
.left-side-text-child-lnd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2%;
  min-width: max-content;
}
.left-side-text-child-lnd .bird-item-container {
  display: block;
  width: max-content;
}
.right-side-text-child-lnd {
  padding-left: 16px;
  display: block;
  width: 98%;
  font-family: 'basier_circleregular';
  font-size: 16px;
  color: #454D66;
}
.main-lnd-button-view {
  display: block;
  background-color: #58B368;
  border-radius: 32px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'basier_circlesemibold';
  font-size: 16px;
  height: 42px;
  line-height: 42px;
  transition: all 0.5s ease-in-out;
}
.main-lnd-button-view:hover {
  letter-spacing: 1px;
  background-color: #454D66;
}
.first-button {
  margin-top: 45px;
  margin-bottom: 32px;
}
.first-b-lnd-or-text {
  display: block;
  font-family: 'basier_circleregular';
  color: #454D66;
  font-size: 16px;
}
.first-b-lnd-or-text span {
  color: #58B368;
  font-family: 'basier_circlesemibold';
}
.first-b-lnd-or-text a {
  color: #58B368;
  font-family: 'basier_circlesemibold';
  text-decoration: underline;
}
@media (min-width: 430px) {
  .main-lnd-button-view {
    max-width: 315px;
  }
}
@media (min-width: 678px) {
  .first-lnd-child-block {
    width: 47.5%;
    order: 1;
  }
  .second-lnd-child-block {
    width: 47.5%;
    order: 2;
  }
  .post-a-job-landing-container-one {
    padding: 60px 0px;
  }
  .simple-landing-flex {
    padding-bottom: 80px;
  }
  .main-header-lnd {
    font-size: 5vw;
  }
}
@media (min-width: 1180px) {
  .main-header-lnd {
    font-size: 60px;
  }
}
