/*Signed Up block*/
/*FORMS CSS VARS*/
.new-left-block-text-cmp {
  display: flex;
  align-items: center;
  width: 47.5%;
}
.new-right-block-text-cmp {
  display: block;
  width: 47.5%;
}
.new-right-block-text-cmp div {
  display: block;
  width: max-content;
  max-width: 100%;
  margin: 0px 0px 0px auto;
}
.new-flex-cmp-res {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.strong-new-pad-eeddd {
  padding: 30px !important;
}
