<!DOCTYPE html>
<html>
   <head>
      <title>6 Ladders</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="../../library/css/fonts.css" rel="stylesheet" type="text/css"><!--Fonts CSS-->
      <link href="css/mail.css" rel="stylesheet" type="text/css"><!--Mail-->
   </head>
   <body>
      <div class="mail-container">
         <div class="content-container">
            <div class="container">
               <div class="mail-top-body">
                  <!--Header-->
                  <a href="#">
                     <img src="../../library/img/logo.svg" alt="6 ladders">
                  </a>
                  <!--Content-->
                  <p class="main-header-text">Hi, Ian</p>
                  <p class="mail-text">
                     Thank You for registration!<br>Please use this rerification link 
                     to make your account live: <a href="#">sixladders.com?auth=123qwerty&secret=awqwjuhjsk12wos&action=verify</a>
                  </p>
                  <div class="button-container">
                     <!--Button-->
                     <a href="#" class="link-email">
                        <div class="green-mail-btn">Verify account</div>
                     </a>
                  </div>
                  <p class="mail-text">Lorem ipsum dollor sit amet respectalurum adisit momentum</p>
               </div>
            </div>
            <!--Footer-->
            <div class="footer-block">
               <div class="flex-links-ft">
                  <!--Link ft-->
                  <div class="link-ft-bd"><a href="#">sixladders.com</a></div>
                  <!--Link ft-->
                  <div class="link-ft-bd"><a href="#">Privacy Policy</a></div>
                  <!--Link ft-->
                  <div class="link-ft-bd"><a href="#">Support</a></div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>