@import "../../../library/css/vars.less";

.lgd-in-links-flex-container{
    display: flex;
    align-items: center;
    height:96%;
    width: max-content;
    max-width: 100%;
    flex-wrap: wrap;
}

.loged-in-cont{
    height: 100%;
    padding-top: 0px !important;
}

.lgd-iun-link{
    color: @slate;
    font-family: @ft-reg;
    font-size: 16px;
    margin-right: 44px;

    & a{
        color: inherit;
        text-decoration: none;
    }

    &:hover{
        color: @algae;
    }
}


.lgd-iun-link:last-child{
    margin-right: 0px;
}

.right-m-lg-child{
    padding-top: 0px !important;
}

.flex-lgd-in-btns{
    padding-top: 2px;
    display: flex;
    width: max-content;
    max-width: 100%;
    height: 100%;
    align-items: center;
}

.lgd-in-msg{
    margin-right: 24px;

    & a{
        & svg{
            & path{
                stroke: @slate;
            }
        }
    }

    &:hover{
        & a{
            & svg{
                & path{
                    stroke: @algae;
                }
            }
        }
    }
}

.lgd-in-left-pds{
    padding-left: 34px !important;
}

.lgd-in-search{
    & a{
        & svg{
            & path{
                fill: @slate;
            }
        }
    }
}

.mobile-loged-in-bloxk{
    display: block;
    width: 100%;
   
    border: 1px solid transparent;
    padding: 20px;
    box-sizing: border-box;
}

#mobile-user-icon{
    display: block;
}

.line-top-meu{
    margin-top: 65px;
    display: block;
    width: 100%;
    height: 2px;
    position: relative;
    background-image: linear-gradient(to right, rgb(88,  179, 104) , rgb(69, 77, 102));
}

.lgd-in-links-container{
    display: block;
    padding-top: 40px;
}

.link-mbs-lgd{
    color: @slate;
    font-family: @ft-reg;
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 25px
}

@media(min-width: 950px){
    #mobile-user-icon{
        display: none !important;
    }
}